<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, <%=user%></title>
  </head>
  <body>
    <center><h1>Hello, <%=user%></h1></center>
    <div>
      <center><button type="button" class="btn btn-outline-primary">Sync from CMC</button></center>
    </div>
    
    <hr>

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Max Supply</th>
          <th scope="col">Total Supply</th>
          <th scope="col">Circulating Supply</th>
          <th scope="col">Price</th>
          <th scope="col">Volume</th>
          <th scope="col">Market Cap</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < coins.length; i++) { %>
          <tr>  
            <th scope="row"><%= coins[i].cmc_rank %></th>
            <td><a href=""><%= coins[i].name %></a>  <b>[<%= coins[i].symbol %>]</b></td>
            
            <td><%= coins[i].max_supply%></td> 
            <td><%= coins[i].total_supply.toFixed(2)%></td> 
 
            <td><%= coins[i].circulating_supply.toFixed(2) %></td>
            <td>$<%= coins[i].quote.USD.price.toFixed(1) %></td>
            <td><%= coins[i].quote.USD.volume_24h.toFixed(1) %></td>
            <td>$ <%= Math.round(coins[i].quote.USD.market_cap) %></td>

          </tr>
        <% } %>
      </tbody>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>